name: Docker build

on:
    push:
        tags:
            - "*"

jobs:
    gradle-build:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Cache Gradle packages
              uses: actions/cache@v4.3.0
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-

            - name: Setup Java
              uses: actions/setup-java@v5.1.0
              with:
                  distribution: "temurin"
                  java-version: 25

            - name: Set env
              run: echo "ACCESSDENIED_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

            - name: Build with Gradle
              run: |+
                  chmod +x gradlew
                  ./gradlew :access-denied-backend:clean :access-denied-backend:bootJar --stacktrace --info -x test
              env:
                  ACCESSDENIED_VERSION: ${{ env.ACCESSDENIED_VERSION }}

            - name: Upload artifact
              uses: actions/upload-artifact@v5.0.0
              with:
                  name: access-denied-backend-boot-${{ env.ACCESSDENIED_VERSION }}.jar
                  path: access-denied-backend/build/libs/access-denied-backend-boot-${{ env.ACCESSDENIED_VERSION }}.jar
                  if-no-files-found: error

    prebuild-docker:
        runs-on: ubuntu-24.04
        needs: gradle-build
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Download artifact
              uses: actions/download-artifact@v6.0.0
              with:
                  name: access-denied-backend-boot-${{ env.ACCESSDENIED_VERSION }}.jar
                  path: access-denied-backend/build/libs/
