---
name: Gitleaks
"on":
    push:
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: "0 4 * * *" # run once a day at 4 AM

jobs:
    gitleaks:
        permissions: write-all
        name: gitleaks
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6.0.1
              with:
                  fetch-depth: 0

            - name: Gitleaks
              uses: gitleaks/gitleaks-action@v2.3.9
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
