---
name: Release
"on":
    push:

jobs:
    release:
        timeout-minutes: 500
        name: release
        runs-on: ubuntu-24.04
        permissions:
            packages: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - name: Import GPG key
              id: import-gpg
              uses: crazy-max/ghaction-import-gpg@v6.3.0
              with:
                  gpg_private_key: "${{ secrets.GH_BOT_GPG_PRIVATE_KEY }}"
                  passphrase: "${{ secrets.GH_BOT_GPG_PASSPHRASE }}"
                  git_user_signingkey: true
                  git_commit_gpgsign: true
                  trust_level: 5

            - name: Setup pnpm
              uses: pnpm/action-setup@v4.2.0
              with:
                  version: 10.22

            - name: Setup Node
              uses: actions/setup-node@v6.1.0
              with:
                  node-version: lts/*
                  cache-dependency-path: .github/files/pnpm-lock.yaml
                  cache: pnpm

            - name: Cache Gradle packages
              uses: actions/cache@v4.3.0
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-

            - name: Setup Java
              uses: actions/setup-java@v5.1.0
              with:
                  distribution: "temurin"
                  java-version: 25

            - name: Install node dependencies
              run: |+
                  pnpm i semantic-release@25.0.2 \
                      @semantic-release/commit-analyzer@13.0.1 \
                      @semantic-release/release-notes-generator@14.1.0 \
                      @semantic-release/changelog@6.0.3 \
                      @semantic-release/exec@7.1.0 \
                      @semantic-release/git@10.0.1 \
                      @semantic-release/github@12.0.2 -D && \
                  chmod +x gradlew

            - name: Release
              run: |+
                  git config --global user.email "${{ steps.import-gpg.outputs.email }}"
                  git config --global user.name "${{ steps.import-gpg.outputs.name }}"
                  git config --global user.name "${{ steps.import-gpg.outputs.name }}"
                  if [ -f .semantic-release-successCmd ]; then
                     rm -f .semantic-release-successCmd
                  fi
                  pnpm dlx semantic-release@24.2.9 --extends ./.github/files/release.config.cjs
              env:
                  GITHUB_TOKEN: "${{ secrets.GH_BOT_API_TOKEN }}"
                  GIT_AUTHOR_NAME: "${{ steps.import-gpg.outputs.name }}"
                  GIT_AUTHOR_EMAIL: "${{ steps.import-gpg.outputs.email }}"
                  GIT_COMMITTER_NAME: "${{ steps.import-gpg.outputs.name }}"
                  GIT_COMMITTER_EMAIL: "${{ steps.import-gpg.outputs.email }}"

            - name: Set current version as output
              id: print-version
              run: |+
                  if [ -f .semantic-release-successCmd ]; then
                      version=$(./gradlew -Dorg.gradle.warning.mode=none -Dorg.gradle.logging.level=quiet printVersion)
                      echo "version=${version}" >> $GITHUB_OUTPUT
                      echo "SYNC_SUCCESS_CMD=true" >> $GITHUB_OUTPUT
                  else
                      echo "SYNC_SUCCESS_CMD=false" >> $GITHUB_OUTPUT
                  fi

            - name: Print current version
              run: echo ${{ steps.print-version.outputs.version }}

            - name: Login to Docker Hub
              uses: docker/login-action@v3.6.0
              if: ${{ steps.print-version.outputs.SYNC_SUCCESS_CMD == 'true' }}
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3.7.0
              if: ${{ steps.print-version.outputs.SYNC_SUCCESS_CMD == 'true' }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3.11.1
              if: ${{ steps.print-version.outputs.SYNC_SUCCESS_CMD == 'true' }}

            - name: Build and push
              uses: docker/build-push-action@v6.18.0
              if: ${{ steps.print-version.outputs.SYNC_SUCCESS_CMD == 'true' }}
              with:
                  context: .
                  push: true
                  tags: ghcr.io/${{ github.repository }}:latest,ghcr.io/${{ github.repository }}:${{ steps.print-version.outputs.version }}
                  platforms: linux/amd64,linux/arm64
                  cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:cache
                  cache-to: type=registry,ref=ghcr.io/${{ github.repository }}:cache,mode=max
                  pull: true
                  file: Dockerfile
